<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('__${action}__ Event')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/regular.css">
<link rel="stylesheet" href="../../static/css/fontawesome.css">
<link rel="stylesheet" href="../../static/css/bootstrap-datepicker3.min.css">

</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-center">
			<div class="col-md-10 col-md-offset-1">
				<div class="card bg-light">
					<h5
						th:replace="fragments/list-header :: listHeader (
									'Event', 
									${action == 'View'} ? 'View' : (${action == 'Edit'} ? 'Edit' : 'Add'),
									${action == 'View'} ? @{/event/{eventId}/edit(eventId=${eventCommand.id})} : null, 
									${action == 'View'} ? 'Edit Event' : null,
									'fa-edit',
									null, 
									null,
									null)"
					></h5>
					<div class="card-body bg-body">
						<form class="needs-validation" th:object="${eventCommand}" th:action="@{/event/save}" method="post" novalidate>
							<input type="hidden" th:field="*{id}" th:if="${action != 'Add'}" />
							<input type="hidden" th:field="*{version}" th:if="${action != 'Add'}" />
							<input type="hidden" th:field="*{yearCommand.id}" />
							<div class="form-row">
								<div class="col-md-6 mb-3">
									<label for="name" class="font-weight-bold">Event Name</label>
									<input type="text" class="form-control form-control-sm" id="name" th:field="*{name}" placeholder="Event Name"
										required th:readonly="${action == 'View'}"
									>
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">Please enter an event name.</div>
								</div>
								<div class="col-md-6 mb-3" th:if="${action == 'View'}">
									<label for="eventStatus" class="font-weight-bold">Status:</label>
									<input type="text" class="form-control form-control-sm" id="eventStatus" th:field="*{eventStatus}"
										th:readonly="${action == 'View'}"
									>
								</div>
								<div class="col-md-6 mb-3" th:if="${action != 'View'}">
									<label for="eventStatus" class="font-weight-bold">Status:</label> <select class="form-control form-control-sm"
										th:field="*{eventStatus}" th:remove="all-but-first" th:disabled="${action == 'View'}"
									>
										<option th:each="eventStatusValue : ${T(com.diligentgroup.scptastebuds.domain.EventStatus).values()}"
											th:value="${eventStatusValue}" th:text="${eventStatusValue}"
										></option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-6 mb-3" th:if="${action == 'View'}">
									<label for="eventDate" class="font-weight-bold">Date</label>
									<input type="text" class="form-control form-control-sm" id="eventDate" th:field="*{eventDate}"
										placeholder="yyyy-mm-dd" required th:readonly="${action == 'View'}"
									>
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">Please pick a valid event date</div>
								</div>
								<div class="col-md-6 mb-3" th:if="${action != 'View'}">
									<label for="eventDate" class="font-weight-bold">Date</label>
									<input type="text" class="form-control form-control-sm datepicker" id="eventDate" th:field="*{eventDate}"
										placeholder="yyyy-mm-dd" required pattern="/^\d{4}-\d{2}-\d{2}$/" th:readonly="${action == 'View'}"
									>
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">Please pick a valid event date</div>
								</div>
								<div class="col-md-3 mb-3">
									<label for="eventStartTime" class="font-weight-bold">Start Time</label>
									<input type="text" class="form-control form-control-sm" id="eventStartTime" th:field="*{eventStartTime}"
										placeholder="HH:mm AM/PM" required pattern="^(0?[1-9]|1[012])(:[0-5]\d) [APap][mM]$"
										th:readonly="${action == 'View'}"
									>
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">A valid start time is required</div>
								</div>
								<div class="col-md-3 mb-3">
									<label for="eventEndTime" class="font-weight-bold">End Time</label>
									<input type="text" class="form-control form-control-sm" id="eventEndTime" th:field="*{eventEndTime}"
										placeholder="HH:mm AM/PM" required pattern="^(0?[1-9]|1[012])(:[0-5]\d) [APap][mM]$"
										th:readonly="${action == 'View'}"
									>
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">A valid time is required</div>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-6 mb-3">
									<label for="location" class="font-weight-bold">Location</label>
									<input type="text" class="form-control form-control-sm" id="location" th:field="*{location}"
										placeholder="Event Location" required th:readonly="${action == 'View'}"
									>
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">Please enter an event location.</div>
								</div>
								<div class="col-md-3 mb-3">
									<label for="ticketCost" class="font-weight-bold">Tkt Cost</label>
									<input type="text" class="form-control form-control-sm" id="ticketCost" th:field="*{ticketCost}"
										placeholder="e.g. 0.00" required pattern="^[+-]?[0-9]{1,3}(?:,?[0-9]{3})*\.[0-9]{2}$"
										th:readonly="${action == 'View'}"
									>
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">Please enter ticket cost.</div>
								</div>
								<div class="col-md-3 mb-3">
									<label for="maxAttendees" class="font-weight-bold">Max Tkts</label>
									<input type="text" class="form-control form-control-sm" id="maxAttendees" th:field="*{maxAttendees}"
										placeholder="e.g. 50" required th:readonly="${action == 'View'}"
										pattern="[1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5]"
									>
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">Please enter max tickets (1 - 255).</div>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-6 mb-3">
									<label for="url" class="font-weight-bold">URL</label>
									<input type="text" class="form-control form-control-sm" id="url" th:field="*{url}" placeholder="Event Page URL"
										th:readonly="${action == 'View'}"
									>
									<div class="valid-feedback">Optional</div>
									<div class="invalid-feedback">Please enter the event URL.</div>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-12 mb-3">
									<button class="btn btn-success" type="submit" th:if="${action != 'View'}">Save Changes</button>
									<a class="btn btn-danger" th:href="@{/event/{eventId}/view(eventId=${eventCommand.id})}" href="#" role="button"
										th:text="Cancel" th:if="${action == 'Edit'}"
									>XXXX</a>
									<a class="btn btn-danger" th:href="@{/event/list}" href="#" role="button" th:text="|Back to Event List|"
										th:if="${action != 'Edit'}"
									>XXXX</a>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="card bg-light">
					<h5
						th:replace="fragments/list-header :: listHeader (
									'Attendees', 
									${eventCommand.getNumberOfAttendees()},
									${action == 'View'} ? @{/event/{eventId}/attendee/list(eventId=${eventCommand.id})} : null, 
									${action == 'View'} ? 'Edit Event Attendees' : null,
									'fa-edit',
									null, 
									null,
									null)"
					></h5>
					<div class="card-body">
						<table id="attendees" class="table table-striped table-bordered responsive bg-body"
							th:if="${eventCommand.getNumberOfAttendees() > 0}" style="width: 100%;"
						>
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="attendee, idx : ${eventCommand.getEventAttendeeCommands()}"
									th:classappend="(${attendee.attendeeStatus != T(com.diligentgroup.scptastebuds.domain.AttendeeStatus).PAID})?'unpreferred-status':''"
								>
									<td th:text="${idx.count}"></td>
									<td th:text="${attendee.annualMembershipCommand.memberCommand.fullNameLastNameFirst}"></td>
									<td th:text="${attendee.annualMembershipCommand.memberCommand.email}"></td>
									<td class="text-center" th:text="${attendee.annualMembershipCommand.memberCommand.phone}"></td>
									<td class="text-center" th:text="${attendee.attendeeStatus}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	<script>
		$(document).ready(function() {
			var table = $('#attendees').DataTable({
				"responsive" : true,
				"info" : false,
				"paging" : false,
				"ordering" : true,
				"order" : [ 1, 'asc' ],
				"columnDefs" : [ {
					"orderable" : false,
					"targets" : [ 0 ]
				}, {
					"orderable" : true,
					"targets" : [ 1, 2, 3, 4 ]
				} ],
			});
		});
	</script>

	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document
								.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
		$('.datepicker').datepicker({
			format : 'yyyy-mm-dd',
			startDate : '+7d'
		});
	</script>
</body>
</html>