<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('__${action}__ Event Attendee')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/regular.css">
<link rel="stylesheet" href="../../static/css/fontawesome.css">
<link rel="stylesheet" href="../../static/css/bootstrap-datepicker3.min.css">

</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-center">
			<div class="col-md-10 col-md-offset-1">
				<div class="card bg-light">
					<h5
						th:replace="fragments/list-header :: listHeader (
									'Attendee', 'Add', null, null, null, null, null, null)">
					</h5>
					<div class="card-body bg-body">
						<form class="needs-validation" th:object="${newEventAttendeeCommand}" th:action="@{/event/attendee/new}"
							method="post" novalidate>
							<div class="form-row">
								<div class="col-md-6 mb-3">
									<label for="eventName" class="font-weight-bold">Event Name</label>
									<input type="text" class="form-control form-control-sm" id="eventName" th:field="*{eventName}"
										placeholder="Event Name" readonly>
									<input type="hidden" th:field="*{eventId}" />
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-6 mb-3">
									<label for="annualMembershipId" class="font-weight-bold">Attendee Name:</label>
									<select class="form-control form-control-sm" th:field="*{annualMembershipId}">
										<option value=" ">Pls select a member</option>
										<option th:each="eligibleMember : ${newEventAttendeeCommand.eligibleMembers}"
											th:value="${eligibleMember.annualMembershipId}" th:text="|${eligibleMember.lastName}, ${eligibleMember.firstName}">NEW</option>
									</select>
								</div>
								<div class="col-md-6 mb-3">
									<label for="attendeeStatus" class="font-weight-bold">Attendee Status:</label>
									<select class="form-control form-control-sm" th:field="*{attendeeStatus}">
										<option th:each="attendeeStatusValue : ${T(com.diligentgroup.scptastebuds.domain.AttendeeStatus).values()}"
											th:value="${attendeeStatusValue}" th:text="${attendeeStatusValue}">NEW</option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-12 mb-3">
									<button class="btn btn-success" type="submit" th:if="${action != 'View'}">Save Changes</button>
									<a class="btn btn-danger" th:href="@{/event/{eventId}/attendee/list(eventId=*{eventId})}" href="#"
										role="button" th:text="Cancel">XXXX</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	<script>
		$(function() {
			function log(message) {
				$("<div>").text(message).prependTo("#log");
				$("#log").scrollTop(0);
			}

			$("#birds").autocomplete({
				source : "/event/" + [[${newEventAttendeeCommand.eventId}]] + "/eligibleAttendees",
				minLength : 2,
				select : function(event, ui) {
					log("Selected: " + ui.item.value + " aka " + ui.item.id);
				}
			});
		});
	</script>
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document
								.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
		$('.datepicker').datepicker({
			format : 'yyyy-mm-dd',
			startDate : '+7d'
		});
	</script>
</body>
</html>