<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('Members')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/regular.css">
<link rel="stylesheet" href="../../static/css/fontawesome.css">

</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-md-offset-1">
				<div class="card bg-light">
					<h5
						th:replace="fragments/list-header :: listHeader (
								'Email Targets', 
								${emailTargets.size()},
								'javascript:submitForm();',
								'Next Step',
								'fa-step-forward',
								'/membership/list',
								'Back to List',
								'fa-step-backward')"
					></h5>
					<div class="card-body bg-body">
						<form id="email" class="bg-body" th:object="${emailAddysCommand}" th:action="@{/mail/mailtos}" method="post">
							<table id="members" class="table table-striped table-bordered responsive bg-body" style="width: 100%;">
								<thead>
									<tr>
										<th>
											<input type="checkbox" onClick="toggle(this)" />
										</th>
										<th>Name</th>
										<th>Email</th>
										<th>Phone</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="emailTarget, iterStat : ${emailTargets}"
										th:classappend="(${emailTarget.attendeeStatus != T(com.diligentgroup.scptastebuds.domain.AttendeeStatus).PAID})?'unpreferred-status':''"
									>
										<td><input type="checkbox" th:field="*{selectedEmails}" th:value="${emailTarget.email}" /></td>
										<td th:text="${emailTarget.fullNameLastFirst}"></td>
										<td th:text="${emailTarget.email}"></td>
										<td class="text-center" th:text="${emailTarget.phone}"></td>
										<td class="text-center" th:if="${whichStatus == 'membership'}"
											th:text="${emailTarget.annualMembershipStatus != null} ? ${emailTarget.annualMembershipStatus} : 'No Membership'"
										></td>
										<td class="text-center"
											th:text="${emailTarget.attendeeStatus != null} ? ${emailTarget.attendeeStatus} : 'Unknown'"
										></td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	<script>
		$(document).ready(function() {
			var table = $('#members').DataTable({
				"responsive" : true,
				"info" : false,
				"paging" : false,
				"ordering" : true,
				"order" : [ 1, 'asc' ],
				"columnDefs" : [ {
					"orderable" : false,
					"targets" : [ 0 ]
				}, {
					"orderable" : true,
					"targets" : [ 1, 2, 3, 4 ]
				} ],
			});
		});
	</script>
	<script>
		function toggle(source) {
			checkboxes = document.getElementsByName('selectedEmails');
			for ( var checkbox in checkboxes)
				checkboxes[checkbox].checked = source.checked;
		}
		function submitForm() {
			document.getElementById('email').submit();
		}
	</script>
</body>
</html>