<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('Events')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/regular.css">
<link rel="stylesheet" href="../../static/css/fontawesome.css">

</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-md-offset-1">
				<div class="card bg-light">
					<h5 th:replace="fragments/list-header :: listHeader (
								'Events', 
								${eventProjections.size()},
								'/event/add', 
								'Add Event',
								'fa-calendar-plus',
								null, 
								null,
								null)">
					</h5>
					<div class="card-body">
						<table id="events" class="table table-striped table-bordered responsive bg-body" style="width: 100%;">
							<thead>
								<tr>
									<th>Name</th>
									<th>Date</th>
									<th>Status</th>
									<th class="text-center">Tot Tkts</th>
									<th class="text-center">Sold</th>
									<th class="text-center">Rsvd</th>
									<th class="text-center">Edit</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="eventProjection : ${eventProjections}">
									<td><a class="text-truncate" th:href="@{/event/{eventId}/view(eventId=${eventProjection.eventId})}"
											href="/event/1/view" th:text="${#strings.abbreviate(eventProjection.name,35)}" title="View Event">Taste of Louisiana</a></td>
									<td class="text-nowrap" th:text="${eventProjection.eventDate}">Taste of Louisiana</td>
									<td class="text-center" th:text="${eventProjection.eventStatus}"></td>
									<td class="text-center" th:text="${eventProjection.maxAttendees}">Taste of Louisiana</td>
									<td class="text-center" th:text="${eventProjection.ticketsSold}">Taste of Louisiana</td>
									<td class="text-center" th:text="${eventProjection.ticketsReserved}">Taste of Louisiana</td>
									<td class="text-center"><a class="fas fa-edit"  th:href="@{/event/{eventId}/edit(eventId=${eventProjection.eventId})}"
										href="/event/1/edit" role="button" title="Edit Event"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"> </footer>
	<script>
		$(document).ready(function() {
			$('#events').DataTable({
				"info" : false,
				"paging" : false,
				"ordering" : true,
				"order": [ 1, 'asc' ],
				"columnDefs" : [ {
					"orderable" : true,
					"targets" : [ 0, 1, 2 ]
				}, {
					"orderable" : false,
					"targets" : [ 3, 4, 5, 6 ]
				}],
			});
		});
	</script>

</body>
</html>