<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('Events')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/regular.css">
<link rel="stylesheet" href="../../static/css/fontawesome.css">

</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-md-offset-1">
				<div class="card bg-light">
					<h5 class="card-header bg-active text-primary">
						<span style="float: left; margin-top: 2px; margin-bottom: 2px;"> <a th:href="@{/event/{eventId}/view(eventId=${eventProjection.eventId})}" th:text="${#strings.abbreviate(eventProjection.name,30)}"></a></span>
					</h5>
					<h5
						th:replace="fragments/list-header :: listHeader (
								'Attendees', 
								${eventAttendeeProjectionList.getSignedUpCount()},
								@{/event/{eventId}/attendee/add(eventId=${eventId})}, 
								'Add Event Attendee',
								'fa-user-plus',
								@{/event/{eventId}/attendee/mailtos(eventId=${eventId})}, 
								'Email Attendees',
								'fa-envelope-open-text')"
					></h5>
					<div class="card-body">
						<table id="attendees" class="table table-striped table-bordered responsive bg-body" style="width: 100%;">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Status</th>
									<th class="text-center">Edit</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="projection, idx : ${eventAttendeeProjectionList.projections}"
									th:classappend="(${projection.attendeeStatus} != ${projection.attendeeStatus.PAID})?'unpreferred-status'"
								>
									<td th:text="${idx.count}">1</td>
									<td><a class="text-truncate" th:href="@{/event/attendee/{id}/view(id=${projection.eventAttendeeId})}"
											th:text="|${projection.lastName}, ${projection.firstName}|" title="View Event Attendee"
										></a></td>
									<td th:text="${projection.email}"></td>
									<td class="text-center" th:text="${projection.phone}"></td>
									<td class="text-center" th:text="${projection.attendeeStatus}"></td>
									<td class="text-center"><a class="fas fa-user-edit"
											th:href="@{/event/attendee/{id}/edit(id=${projection.eventAttendeeId})}" title="Edit Event Attendee"
										></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"> != 'PAID' ? 'unpreferred-status'</footer>
	<script>
		$(document).ready(function() {
			$('#attendees').DataTable({
				"info" : false,
				"paging" : false,
				"ordering" : true,
				"order" : [ 1, 'asc' ],
				"columnDefs" : [ {
					"orderable" : true,
					"targets" : [ 1, 2 ]
				}, {
					"orderable" : false,
					"targets" : [ 0, 3 ]
				} ],
			});
		});
	</script>
</body>
</html>