<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('__${action}__ Membership')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/regular.css">
<link rel="stylesheet" href="../../static/css/fontawesome.css">

</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-md-center">
			<div class="col-lg-8 col-md-offset-2">
				<div class="card bg-body"
					th:with="editUrl=(${#authorization.expression('hasAuthority(''membership.update'')')}) ? '/membership/'+ ${membershipCommand.id} + '/edit' : null">
					<h5
						th:replace="fragments/list-header :: listHeader (
									'Membership', 
									${action == 'View'} ? 'View' : (${action == 'Edit'} ? 'Edit' : 'Add'),
									${action == 'View'} ? ${editUrl} : null,
									${action == 'View'} ? 'Edit Membership' : null,
									'fa-edit',
									null, null, null)">
					</h5>
					<div class="card-body bg-body">
						<form class="needs-validation bg-body" th:object="${membershipCommand}" th:action="@{/membership/save}" method="post"
							novalidate>
							<input type="hidden" th:field="*{id}" th:if="${action != 'Add'}" />
							<input type="hidden" th:field="*{version}" th:if="${action != 'Add'}" />
							<input type="hidden" th:field="*{memberCommand.id}" th:if="${action == 'Add'}" />
							<div class="form-row">
								<div class="col-md-6 mb-3">
									<label for="year" class="font-weight-bold">Year</label>
									<input type="text" class="form-control form-control-sm" id="year" th:field="*{yearCommand.id}"
										placeholder="1999" pattern="^((2[0-9])[0-9]{2})$" required readonly>
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">Please choose a year.</div>
								</div>
								<div class="col-md-6 mb-3" th:if="${action == 'View'}">
									<label for="annualMemberStatus" class="font-weight-bold">Status:</label>
									<input type="text" class="form-control form-control-sm" id="annualMembershipStatus"
										th:field="*{annualMembershipStatus}" th:readonly="${action == 'View'}">
								</div>
								<div class="col-md-6 mb-3" th:if="${action != 'View'}">
									<label for="annualMembershipStatus" class="font-weight-bold">Status:</label> <select
										class="form-control form-control-sm" th:field="*{annualMembershipStatus}" th:remove="all-but-first">
										<option
											th:each="annualMembershipStatusValue : ${T(com.diligentgroup.scptastebuds.domain.AnnualMembershipStatus).values()}"
											th:value="${annualMembershipStatusValue}" th:text="${annualMembershipStatusValue}">NEW</option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-6 mb-3">
									<label for="name" class="font-weight-bold">Name</label>
									<input type="text" class="form-control form-control-sm" id="name"
										th:field="*{memberCommand.fullNameLastNameFirst}" placeholder="Member name" required
										th:readonly="${true}">
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">Name is required</div>
								</div>
								<div class="col-md-6 mb-3">
									<label for="email" class="font-weight-bold">Email</label>
									<input type="text" class="form-control form-control-sm" id="email" th:field="*{memberCommand.email}"
										placeholder="email" required th:readonly="${true}">
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">Last name is required</div>
								</div>
							</div>
							<button class="btn btn-success" type="submit" th:if="${action != 'View'}">Save</button>
							<a class="btn btn-danger" th:href="@{/membership/list}" href="#" role="button"
								th:text="${action != 'View'}? 'Cancel' : 'Back to List'">XXXX</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document
								.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>
</body>
</html>