<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('AnnualMemberships')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/regular.css">
<link rel="stylesheet" href="../../static/css/fontawesome.css">

</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-md-offset-1">
				<div class="card bg-light">
					<h5
						th:replace="fragments/list-header :: listHeader (
								'Memberships', 
								${annualMembershipProjectionList.getPaidCount()},
								'/membership/report',
								'Membership Report',
								'fa-file-pdf',
								'/membership/mailtos', 
								'Email Memberships',
								'fa-envelope-open-text')"
					></h5>
					<div class="card-body">
						<table id="memberships" class="table table-striped table-bordered responsive bg-body" style="width: 100%;">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Status</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="projection, iterStat : ${annualMembershipProjectionList.projections}"
									th:with="viewUrl=(${projection.annualMembershipId} != null) ? 
												'/membership/'+ ${projection.annualMembershipId} + '/view' : 
												((${#authorization.expression('hasAuthority(''membership.add'')')}) ? 
													'/membership/' + ${projection.memberId} + '/add' : null),
											 editUrl=(${projection.annualMembershipId} != null) ? '/membership/'+ ${projection.annualMembershipId} + '/edit' : '/membership/' + ${projection.memberId} + '/add',
											 fullname=${projection.lastName} + ' ' + ${projection.firstName}"
									th:classappend="(${projection.annualMembershipStatus != T(com.diligentgroup.scptastebuds.domain.AnnualMembershipStatus).PAID})?'unpreferred-status':''"
								>
									<td th:text="${iterStat.count}"></td>
									<td><a th:if="${viewUrl} != null" class="text-truncate" th:href="@{${viewUrl}}" th:text="${fullname}" title="View Membership"></a>
										<span th:if="${viewUrl} == null" th:text="${fullname}"></span></td>
									<td th:text="${projection.email}"></td>
									<td th:class="text-center" th:text="${projection.phone}"></td>
									<td th:class="text-center" th:text="${projection.annualMembershipStatus != null} ? ${projection.annualMembershipStatus} : 'No Membership'"></td>
									<td th:class="text-center"><a sec:authorize="hasAuthority('membership.update')" th:href="@{${editUrl}}"
											role="button" class="fas" th:classappend="(${projection.annualMembershipId} != null) ? 'fa-user-edit' : 'fa-user-plus'"
											th:title="(${projection.annualMembershipId} != null) ? 'Edit Membership' : 'Add Membership'"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	<script>
		$(document).ready(function() {
			var table = $('#memberships').DataTable({
				"info" : false,
				"paging" : false,
				"ordering" : true,
				"order" : [ 1, 'asc' ],
				"paging" : true,
				"lengthChange" : false,
				"lengthMenu" : [ 25 ],
				"language" : {
					"paginate" : {
						"next" : ">",
						"previous" : "<"
					}
				},
				"columnDefs" : [ {
					"orderable" : true,
					"targets" : [ 1, 2, 3, 4 ]
				}, {
					"orderable" : false,
					"targets" : [ 0, 5 ]
				} ],
			});
		});
	</script>
</body>
</html>