<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('__${action}__ Member')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/regular.css">
<link rel="stylesheet" href="../../static/css/fontawesome.css">

</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-md-offset-1">
				<div class="card bg-light"
					th:with="editUrl=(${#authorization.expression('hasAuthority(''member.update'')')}) ? '/member/'+ ${memberCommand.id} + '/edit' : null">
					<h5
						th:replace="fragments/list-header :: listHeader (
									'Member', 
									${action == 'View'} ? 'View' : (${action == 'Edit'} ? 'Edit' : 'Add'),
									${action == 'View'} ? ${editUrl} : null,
									${action == 'View'} ? 'Edit Member' : null,
									'fa-user-edit',
									null, 
									null,
									null)"
					></h5>
					<div class="card-body bg-body">
						<form class="needs-validation bg-body" th:object="${memberCommand}" th:action="@{/member/save}" method="post"
							novalidate
						>
						
						<ul th:if="${#fields.hasErrors('global')}">
						  <li class="error" th:each="error : ${#fields.errors('global')}" th:text="${error}">error</li>
						</ul>
												
							<input type="hidden" th:field="*{id}" th:if="${action != 'Add'}" />
							<input type="hidden" th:field="*{version}" th:if="${action != 'Add'}" />
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="email" class="font-weight-bold">Email Address</label>
									<input type="text" class="form-control form-control-sm" id="email" th:field="*{email}"
										pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,63}$" required th:readonly="${action == 'View'}"
									>
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">Please enter a valid email address.</div>
								</div>
								<div class="form-group col-md-6">
									<label for="phone" class="font-weight-bold">Phone</label>
									<input type="text" class="form-control form-control-sm" id="phone" th:field="*{phone}"
										pattern="\d{3}-\d{3}-\d{4}" th:readonly="${action == 'View'}"
										placeholder="999-999-9999"
									>
									<div class="valid-feedback">Requested information but not required!</div>
									<div class="invalid-feedback">Phone should have a format like 999-999-9999</div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="firstName" class="font-weight-bold">First name</label>
									<input type="text" class="form-control form-control-sm" id="firstName" th:field="*{firstName}" required
										th:readonly="${action == 'View'}"
									>
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">First name is required</div>
								</div>
								<div class="form-group col-md-6">
									<label for="lastName" class="font-weight-bold">Last name</label>
									<input type="text" class="form-control form-control-sm" id="lastName" th:field="*{lastName}" required
										th:readonly="${action == 'View'}"
									>
									<div class="valid-feedback">Looks good!</div>
									<div class="invalid-feedback">Last name is required</div>
								</div>
							</div>
							<div class="form-row">
								<div class="col-md-6 mb-3" th:if="${action == 'View'}">
									<label for="memberStatus" class="font-weight-bold">Status:</label>
									<input type="text" class="form-control form-control-sm" id="memberStatus" th:field="*{memberStatus}"
										th:readonly="${action == 'View'}"
									>
								</div>
								<div class="col-md-6 mb-3" th:if="${action != 'View'}">
									<label for="memberStatus" class="font-weight-bold">Status:</label> <select class="form-control form-control-sm"
										th:field="*{memberStatus}" th:remove="all-but-first"
									>
										<option th:each="memberStatusValue : ${T(com.diligentgroup.scptastebuds.domain.MemberStatus).values()}"
											th:value="${memberStatusValue}" th:text="${memberStatusValue}"
										>NEW</option>
									</select>
								</div>
							</div>

							<button class="btn btn-success" type="submit" th:if="${action != 'View'}">Save</button>
							<a class="btn btn-danger" th:href="@{/member/list}" href="#" role="button"
								th:text="${action != 'View'}? 'Cancel' : 'Back to List'"
							>XXXX</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document
								.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>
</body>
</html>