<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('Members')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/regular.css">
<link rel="stylesheet" href="../../static/css/fontawesome.css">

</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-md-offset-1">
				<div class="card bg-light"
					th:with="addUrl=(${#authorization.expression('hasAuthority(''member.create'')')}) ? '/member/add' : null"
				>
					<h5
						th:replace="fragments/list-header :: listHeader (
								'Members', 
								${memberCommands.size()},
								'/member/report', 
								'Member Report',
								'fa-file-pdf',
								${addUrl}, 
								'Add Member',
								'fa-user-plus')"
					></h5>
					<div class="card-body">
						<table id="members" class="table table-striped table-bordered responsive bg-body" style="width: 100%;">
							<thead>
								<tr>
									<th class="text-center">#</th>
									<th>Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Status</th>
									<th>Edit</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="member, iterStat : ${memberCommands}"
									th:classappend="(${member.memberStatus != T(com.diligentgroup.scptastebuds.domain.MemberStatus).ACTIVE})?'unpreferred-status':''"
								>
									<td class="text-center" th:text="${iterStat.count}"></td>
									<td><a class="text-truncate" th:href="@{/member/{member.id}/view(member.id=${member.id})}"
											th:text="${member.fullNameLastNameFirst}" title="View Member"
										></a></td>
									<td th:text="${member.email}"></td>
									<td class="text-center" th:text="${member.phone}"></td>
									<td class="text-center" th:text="${member.memberStatus}"></td>
									<td class="text-center"><a
											sec:authorize="hasAuthority('member.update')" title="Edit Member"
											class="fas fa-user-edit" th:href="@{/member/{member.id}/edit(member.id=${member.id})}" role="button"
										></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	<script>
		$(document).ready(function() {
			var table = $('#members').DataTable({
				"responsive" : true,
				"info" : false,
				"paging" : true,
				"lengthChange" : false,
				"lengthMenu" : [ 25 ],
				"language" : {
					"paginate" : {
						"next" : ">",
						"previous" : "<"
					}
				},
				"ordering" : true,
				"order" : [ 1, 'asc' ],
				"columnDefs" : [ {
					"orderable" : false,
					"targets" : [ 0, 5 ]
				}, {
					"orderable" : true,
					"targets" : [ 1, 2, 3, 4 ]
				} ],
			});
		});
	</script>
</body>
</html>