<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('Years')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/regular.css">
<link rel="stylesheet" href="../static/css/fontawesome.css">

</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-offset-4">
				<div class="card bg-light">
					<h5 th:replace="fragments/list-header :: listHeader (
						'Change Active Year',
						null,
						null,
						null,
						null,
						null,
						null,
						null)"></h5>
					<div class="card-body bg-body">
						<form class="needs-validation" th:object="${command}" th:action="@{/year/updateActiveYear}" method="post"
							novalidate
						>
							<table class="table table-striped table-bordered responsive bg-body" style="width: 100%;">
								<tbody>
									<tr th:each="yearCommand : ${yearCommands}">
										<td class="text-center">
											<div class="custom-control custom-radio mx-auto">
												<input type="radio" th:field="*{selectedYear}" class="custom-control-input" th:value="${yearCommand.id}"
													th:checked="${yearCommand.id == command.selectedYear}" th:id="|year${yearCommand.id}|" required
												>
												<label class="custom-control-label" th:for="|year${yearCommand.id}|" th:text="${yearCommand.id}"></label>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="form-row">
								<div class="col-md-12 mb-3 justify-content-center">
									<button class="btn btn-success" type="submit" th:if="${action != 'View'}">Save</button>
									<a class="btn btn-danger" th:href="@{/year/list}" href="#" role="button" th:text="Cancel">XXXX</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>