<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('Years')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/regular.css">
<link rel="stylesheet" href="../static/css/fontawesome.css">

</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-offset-4">
				<div class="card bg-light">
					<h5 th:replace="fragments/list-header :: listHeader (
						'Years',
						null,
						'/year/edit','Change Year',
						'fa-calendar',
						'/year/add',
						'Add Year',
						'fa-calendar-plus')"></h5>
					<div class="card-body">
						<table class="table table-striped table-bordered responsive bg-body" style="width: 100%;">
							<tbody>
								<tr th:each="yearCommand : ${yearCommands}">
									<td class="text-center">
										<div class="custom-control custom-radio">
											<input type="radio" class="custom-control-input" th:checked="${yearCommand.id == currentlySelectedYear}" id="customControlValidation2" name="radio-stacked" disabled required>
											<label class="custom-control-label" for="customControlValidation2" th:text="${yearCommand.id}"></label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>