<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('Years')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/regular.css">
<link rel="stylesheet" href="../static/css/fontawesome.css">

</head>
<body>
	<div class="container">
		<header th:replace="fragments/navbar :: navbar">
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">Taste Buds</a>
			</nav>
			<!-- End Navbar -->
		</header>
		<section style="margin-top: 20px;">
			<div class="row justify-content-md-center">
				<div class="col-md-4 col-md-offset-4">
					<h1 class="text-center">Year</h1>
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<tbody>
										<tr class="bg-info text-white">
											<td width="100%"><h2 class="card-title" th:text="${action}">XXXX</h2></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="table-responsive">
								<table class="table table-hover">
									<tbody>
										<tr>
											<td>
												<form class="needs-validation" th:object="${command}" th:action="@{/year/updateActiveYear}" method="post"
													novalidate>
													<div class="form-row">
														<div class="col-md-12 mb-3 text-center">
															<li th:each="yearCommand: ${yearCommands}"><input type="radio" th:field="*{selectedYear}"
																th:value="${yearCommand.id}" th:checked="${yearCommand.id == command.selectedYear}" /> <label
																th:for="${#ids.prev('selectedYear')}" th:text="${yearCommand.id}"></label></li>
														</div>
													</div>
													<div class="form-row">
														<div class="col-md-12 mb-3 justify-content-center">
															<button class="btn btn-success" type="submit" th:if="${action != 'View'}">Save Changes</button>
															<a class="btn btn-danger" th:href="@{/year/list}" href="#" role="button" th:text="Cancel">XXXX</a>
														</div>
													</div>
												</form>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		<footer th:replace="fragments/footer :: footer">
			<div class="navbar navbar-default navbar-fixed-bottom bg-light">
				<div class="container">
					<p class="navbar-text pull-left">© 2019 - Sun City Peachtree Taste Buds</p>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>