<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">Insert title here!!!</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/regular.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.css}">
</head>
<body>
	<div class="container">
		<footer th:fragment="footer"  style="margin-top: .5rem;">
			<div class="navbar navbar-default navbar-fixed-bottom bg-light">
				<div class="container">
					<p class="navbar-text pull-left">© 2019 - Sun City Peachtree Taste Buds</p>
				</div>
			</div>
			<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
			<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
			<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
			<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
			<script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
			<script type="text/javascript" src="/js/datatables.min.js"></script>			
			<!-- script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/fc-3.3.1/fh-3.1.7/r-2.2.5/sc-2.0.2/datatables.min.js"></script-->			
			<script>
				$(document).ready(
						function() {
							$(".navbar .navbar-nav li a").click(
									function() {
										$(".navbar .collapse .navbar-nav li a")
												.removeClass("active");
										$(this).addClass("active");
									});

						});
			</script>

		</footer>
	</div>
</body>
</html>