<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head (title)">
<meta charset="UTF-8" />
<title th:text="${title}">Insert title here!!!</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">	
<link rel="stylesheet" th:href="@{/webjars/jquery-ui/jquery-ui.min.css}">	
<link rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
<!-- link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/fc-3.3.1/fh-3.1.7/r-2.2.5/sc-2.0.2/datatables.min.css"/-->
<link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="/css/customized-bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/scptastebuds.css" />
<style>
  .ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
</style>
</head>
<body>
	<header th:replace="fragments/navbar :: navbar">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Taste Buds</a>
		</nav>
		<!-- End Navbar -->
	</header>
	<div class="container-fluid" style="margin-top: 20px;">
		<div class="row justify-content-md-center">
			<div class="col-md-8 col-md-offset-2">
				<div class="card" style="margin-bottom: 20px;">
					<div class="card-header bg-info text-white">
						<div class="row">
							<div class="col-md-12">
								<h1 class="card-title">Some Heading</h1>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-12"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
	    <div class="navbar navbar-default navbar-fixed-bottom bg-light">
	        <div class="container">
	            <p class="navbar-text pull-left">© 2019 - Sun City Peachtree Taste Buds</p>
	        </div>
	    </div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			th:href="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
			th:href="@{/webjars/popper.js/1.14.6/umd/popper.min.js}"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
			th:href="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
			th:href="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
	</footer>		
</body>
</html>
