<!-- list-header fragment -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<h5 th:fragment="listHeader (title,titleQual,linkRUrl,linkRTitle,linkRClass,linkLUrl,linkLTitle,linkLClass)"
	class="card-header bg-active text-primary"
>
	<span style="float: left; margin-top: 2px; margin-bottom: 2px;"> <th:block th:text="${title}"
			style="padding-top:10px;"
		></th:block> <th:block th:if="${titleQual} != null" th:text="|(${titleQual})|" style="padding-top:10px;"></th:block>
	</span> <span th:if="${linkRUrl} != null" style="float: right; margin-top: 2px; margin-bottom: 2px;"> <a
			class="card-link" th:href="@{${linkRUrl}}"
			th:target="${#strings.containsIgnoreCase(linkRUrl,'report')}? '_blank' : '_self'" th:class="fas" th:classappend="${linkRClass}"
			th:title="${linkRTitle}"></a>
	</span> <span th:if="${linkLUrl} != null" style="float: right; margin-top: 2px; margin-bottom: 2px; margin-right: 15px;">
		<a class="card-link" th:href="@{${linkLUrl}}" role="button" th:class="fas" th:classappend="${linkLClass}" th:title="${linkLTitle}"></a>
	</span>
</h5>
</html>
