<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">Insert title here!!!</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/regular.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.css}">
</head>
<body>
	<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-dark bg-primary">
		<a class="navbar-brand" href="/" th:classappend="${activeYear != currentYear}? 'text-orange-red font-weight-bold'"
			th:text="|Taste Buds (${activeYear})|">Taste Buds</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li th:class="((${active} == 'member')? 'nav-item active' : 'nav-item ')"><a class="nav-link"
					href="/member/list">Members</a></li>
				<li th:class="((${active} == 'membership')? 'nav-item active' : 'nav-item ')"><a class="nav-link"
					href="/membership/list">Annual Membership</a></li>
				<li th:class="((${active} == 'event')? 'nav-item active' : 'nav-item ')"><a class="nav-link" href="/event/list">Events</a></li>
				<li th:class="((${active} == 'year')? 'nav-item active' : 'nav-item ')"><a class="nav-link" href="/year/list">Years</a>
				</li>
				<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" href="/login">Login</a></li>
				<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				<li sec:authorize="isAuthenticated()" class="nav-item"><span class="nav-link" sec:authentication="name"></span></li>
			</ul>
			<!-- <form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form> -->
		</div>
	</nav>
	<div class="container-fluid" style="margin-top: 20px;">
		<div class="row justify-content-md-center">
			<div class="col-md-8 col-md-offset-2">
				<div class="card" style="margin-bottom: 20px;">
					<div class="card-header bg-info text-white">
						<div class="row">
							<div class="col-md-12">
								<h1 class="card-title">Some Heading</h1>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-12"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="navbar navbar-default navbar-fixed-bottom bg-light">
			<div class="container">
				<p class="navbar-text pull-left">© 2019 - Sun City Peachtree Taste Buds</p>
			</div>
		</div>
		<script th:href="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
		<script th:href="@{/webjars/popper.js/1.14.6/umd/popper.min.js}"></script>
		<script th:href="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
	</footer>
</body>
</html>
