body {
	background-color: #ffffff;
	font-family: verdana;
	font-size: 14px;
}

.bg-body {
	background-color: #ffffff;
}

.con-bot {
	padding-bottom: .5rem;
	background-color: #ffffff;
}

.bg-card {
	background-color: #ecf0f1;
}

a.pdf-report {
	font-size: 16px;
	color: #f7f0f5;
	margin-left: 20px;
}

a {
	color: #007bff;
}

a.unpreferred-status, tr.unpreferred-status {
	background-color: #fdecef !important;
}




.btn-scptb-save {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745
}

.btn-scptb-save:hover {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34
}

.btn-scptb-save.focus, .btn-scptb-save:focus {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34;
	box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

.btn-scptb-save.disabled, .btn-scptb-save:disabled {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745
}

.btn-scptb-save:not (:disabled ):not (.disabled ).active, .btn-scptb-save:not
	(:disabled ):not (.disabled ):active, .show>.btn-scptb-save.dropdown-toggle
	{
	color: #fff;
	background-color: #1e7e34;
	border-color: #1c7430
}

.btn-scptb-save:not (:disabled ):not (.disabled ).active:focus,
	.btn-scptb-save:not (:disabled ):not (.disabled ):active:focus, .show>.btn-scptb-save.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

a.text-orange-red {
	color: #FF4500 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafcf8;
}

.form-control {
	color : #212529;
}
.error {
	color: red;
}