<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('Home')">
</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot" style="padding-bottom : 0px;">
		<div class="row justify-content-center" style="margin : 10px 10px 10px 10px !important;">
			<div class="card text-white bg-danger mb-3" style="max-width: 22rem;">
				<div class="card-header text-center" th:text="${header}"></div>
				<div class="card-body">
					<h5 class="card-title text-center" th:text="${title}"></h5>
					<p class="card-text text-center" th:text="${exception}">Some quick example text to build on the card title and make up the bulk of the card's
						content.</p>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"> </footer>
</body>
</html>