<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('Page Title')">
</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-center">
			<div class="card">
				<h4 class="card-header bg-info">
					Members
					<span style="float: right;">
						<a class="btn btn-primary" th:href="@{'/member/add'}" href="#" role="button">Add</a>
					</span>
				</h4>
				<div class="card-body">
					<table id="example" class="table table-striped table-bordered" style="width: 100%;">
						<thead>
							<tr>
								<th>Name</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
							<tr>
								<td>Tiger Nixon</td>
								<td><a class="fas fa-edit" href="/member/1/edit" role="button"></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"> </footer>
	<script>
		$(document).ready(function() {
			var table = $('#example').DataTable({
				paging : false,
				"ordering" : true,
				"columnDefs" : [ {
					"orderable" : true,
					"targets" : 0
				}, {
					"orderable" : false,
					"targets" : 1
				}, ],
			});
		});
	</script>
</body>
</html>