<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head ('Mail')">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/regular.css">
<link rel="stylesheet" href="../../static/css/fontawesome.css">

</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div role="main" class="container con-bot">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-md-offset-1">
				<div class="card bg-light">
					<h5
						th:replace="fragments/list-header :: listHeader (
								'Mail To\'s', 
								${mailTos.selectedEmails.length},
								'javascript:copy();',
								'Copy Email Addresses to Clipboard',
								'fa-copy',
								'/membership/mailtos',
								'Back to List',
								'fa-step-backward')"
					></h5>
					<div class="card-body">
						<table id="tos" class="table table-striped table-bordered responsive bg-body" style="width: 100%;">
							<tbody>
								<tr th:each="ato : ${mailTos.selectedEmails}">
									<td class="text-center" th:text="|${ato},|"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
	<script type="text/javascript">
		function copy() {
			var copyText = "";
			var count = document.getElementsByTagName("TD").length;
			for (var i = 0; i < count; i++) {
				copyText += document.getElementsByTagName("TD")[i].innerHTML;
			}
			const el = document.createElement('textarea');
			el.value = copyText;
			document.body.appendChild(el);
			el.select();
			document.execCommand('copy');
			document.body.removeChild(el);
			alert("The selected email addresses have been copied to the clip board!");
		}
		function goBack() {
			window.history.back();
		}
	</script>
</body>
</html>