@charset "ISO-8859-1";

body {
	padding-top: 5rem;
	font-size: 14px;
}
nav.navigation {
	background-color: rgb(107, 124, 143) !important;
}

.bg-even {
	background-color: rgb(255, 247, 235) !important;
}

.bg-greenbay-nav {
	background-color: rgb(38, 66, 59);
}

button.bg-greenbay-nav {
	background-color: rgb(38, 66, 59);
	color:  rgb(255, 247, 235);
}

button.bg-greenbay-nav:hover {
	background-color: rgb(38, 66, 59);
	color:  rgb(255, 184, 28);;
}

.greenbay-button {
	background-color: rgb(255, 247, 235);
}

a.greenbay-button:hover, a.greenbay-button:focus, button.greenbay-button:hover,
	button.greenbay-button:focus {
	background-color: rgb(255, 220, 143) !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(255, 247, 235) !important;
}